name: Build

on:
  pull_request:
    branches: [main]

jobs:
  build:
    name: Build frontend
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Build frontend
        run: |
          cd frontend
          bun i --frozen-lockfile
          bun run build
